<nz-modal nzWrapClassName="vertical-center-modal" nzWidth=600 nzMaskClosable="false" [nzTitle]="modalTitle"
	[nzContent]="modalContent" [(nzVisible)]="uploadAvctorIsVisible" [nzFooter]="modalFooter" (nzOnCancel)="handleCancelMiddle()">
	<ng-template #modalTitle>
    <div class="header-title">上传/修改</div>
	</ng-template>
	<ng-template #modalContent>
    <div nz-row style="border-bottom: 2px solid #f8f8f8;padding-bottom: 20px;">
      <div nz-col nzSpan="4" style="color: #898888;font-size: 14px;line-height: 29px;">上传头像</div>
      <div nz-col nzSpan="12" style="background: #F5F5F5;height: 30px;">
          <label for="uploadImg">
              <input type="button" value="选择文件" accept=".excel" style="background: #1890ff;color: white;border: none;height: 30px;"><span id="text">{{imgFile.imgName ? imgFile.imgName : '未选择任何文件'}}</span>
              <input type="file" id="uploadImg" (change)="beforeUpload($event)">
          </label>
      </div>
      <!-- <div nz-col nzSpan="6" nzOffset="2"><button nz-button nzType="link" style="color: #30CCC1;font-size: 14px;margin-top: -5px;">上传</button></div> -->
    </div>
    <div style="display: flex;align-items: center;justify-content: center;margin-top: 10px;">
      <img *ngIf="imgVisible" style="max-height: 200px;max-width: 200px;" [src]="'data:image/png;base64,' + this.imgFile.imgBase64" alt="凭证图片">
      <p *ngIf="!imgVisible">暂无头像</p>
    </div>
  </ng-template>
  <ng-template #modalFooter>
      <div class="footer-btn">
        <button nz-button nzType="" (click)="handleCancelMiddle()">返回</button>
        <button nz-button nzType="" [disabled]="uploadDisable" (click)="uploadImg()">上传</button>
      </div>
  </ng-template>
</nz-modal>
