
<div nz-row id="mapcontainer">
    <sj-marquee-board></sj-marquee-board>
  <div nz-row style="margin-left: 15px;">
    <!-- <div nz-col nzSpan="6">
      <nz-card nzHoverable="true" style="width: 300px;margin-top: 16px;background-color: #4A90E2;" [nzLoading]="loading">
        <nz-card-meta [nzTitle]="lineTitle" [nzDescription]="lineDescription"></nz-card-meta>
      </nz-card>
    </div>
    <div nz-col nzSpan="6">
      <nz-card nzHoverable="true" style="width: 300px;margin-top: 16px;background-color: #50E3C2;" [nzLoading]="loading">
        <nz-card-meta [nzTitle]="railTitle" [nzDescription]="railDescription"></nz-card-meta>
      </nz-card>
    </div>
    <div nz-col nzSpan="6">
      <nz-card nzHoverable="true" style="width: 300px;margin-top: 16px;background-color: #9013FE;" [nzLoading]="loading">
        <nz-card-meta [nzTitle]="ticketTitle" [nzDescription]="ticketDescription"></nz-card-meta>
      </nz-card>
    </div>
    <div nz-col nzSpan="6">
      <nz-card nzHoverable="true" style="width: 300px;margin-top: 16px;background-color: #4A4A4A;" [nzLoading]="loading">
        <nz-card-meta [nzTitle]="userTitle" [nzDescription]="userDescription"></nz-card-meta>
      </nz-card>
    </div>
    <ng-template #lineTitle>
            <h3 style="color: white;">High-speed Line</h3>
    </ng-template>
    <ng-template #railTitle>
            <h3 style="color: white;">High-speed Rail</h3>
    </ng-template>
    <ng-template #ticketTitle>
            <h3 style="color: white;">High-speed Ticket</h3>
    </ng-template>
    <ng-template #userTitle>
            <h3 style="color: white;">User management</h3>
    </ng-template>
    <ng-template #lineDescription>
            <h4 style="color: white;">高铁线路：{{lineNum}}条</h4>
    </ng-template>
    <ng-template #railDescription>
            <h4 style="color: white;">高铁车辆：8辆</h4>
    </ng-template>
    <ng-template #ticketDescription>
            <h4 style="color: white;">高铁余票：100张</h4>
    </ng-template>
    <ng-template #userDescription>
            <h4 style="color: white;">管理用户：{{userNum}}个</h4>
    </ng-template> -->
    <!-- <sj-marquee-board style="margin-top: 15px;"></sj-marquee-board> -->
  </div>
  <div nz-row style="margin-top: 20px;">
    <div nz-col nzSpan="11">
      <div class="dataTable">
        <div class="title">高铁线路统计分析</div>
       <div echarts [options]="lineChartOption" class="demo-chart"></div>
      </div>
    </div>
    <div nz-col nzSpan="11" nzOffset="2">
        <div class="dataTable">
            <div class="title">用户统计分析</div>
           <div echarts [options]="userChartOption" class="demo-chart"></div>
          </div>
    </div>
  </div>
  <div nz-row style="margin-top: 20px;">
      <!-- <div nz-col nzSpan="11">
        <div class="dataTable">
          <div class="title">售票统计分析</div>
         <div echarts [options]="chartOption" class="demo-chart"></div>
        </div>
      </div>
      <div nz-col nzSpan="11" nzOffset="2">
          <div class="dataTable">
              <div class="title">用户统计分析</div>
             <div echarts [options]="userChartOption" class="demo-chart"></div>
            </div>
      </div> -->
    </div>
</div>
