<nz-layout class="app-layout">
        <nz-sider class="menu-sidebar"
                  nzCollapsible
                  nzWidth="256px"
                  nzBreakpoint="md"
                  [(nzCollapsed)]="isCollapsed"
                  [nzTrigger]="null">
          <div class="sidebar-logo">
            <a href="https://ng.ant.design/" target="_blank">
              <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
              <h1>HSRM</h1>
            </a>
          </div>
          <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="Home Page" nzIcon="dashboard">
              <ul>
                <li nz-menu-item nzMatchRouter>
                  <a routerLink="/emas/welcome/home">Welcome</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                  <a routerLink="/emas/welcome/monitor">monitor</a>
                </li>
              </ul>
            </li>
            <li nz-submenu nzClose nzTitle="Line Management" nzIcon="form">
              <ul>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/emas/line-management/update-line">update-line</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/emas/line-management/add-line">add-line</a>
                </li>
              </ul>
            </li>
            <li nz-submenu nzClose nzTitle="High Speed Management" nzIcon="dashboard">
                <ul>
                  <li nz-menu-item nzMatchRouter>
                    <a routerLink="/emas/high-speed-management/update-high-speed">update-high-speed</a>
                  </li>
                  <li nz-menu-item nzMatchRouter>
                    <a routerLink="/emas/high-speed-management/add-high-speed">add-high-speed</a>
                  </li>
                </ul>
            </li>
            <li nz-submenu nzClose nzTitle="ticket Management" nzIcon="transaction">
                <ul>
                  <li nz-menu-item nzMatchRouter>
                      <a routerLink="/emas/ticket-management/update-ticket">update-ticket</a>
                  </li>
                  <li nz-menu-item nzMatchRouter>
                      <a routerLink="/emas/ticket-management/add-ticket">add-ticket</a>
                  </li>
                </ul>
              </li>
            <li nz-submenu nzClose nzTitle="User Management" nzIcon="user">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/emas/user-management/user-prole">user-prole</a>
                    </li>
                  </ul>
            </li>
          </ul>
        </nz-sider>
        <nz-layout>
          <nz-header>
            <div class="app-header">
              <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                  <i class="trigger"
                     nz-icon
                     [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                  ></i>
              </span>
              <div style="float: right;">
                <span>{{systemService.time.date}} {{systemService.time.time}}</span>
                <button nz-button nzType="link" (click)="logOut()" style="margin-right: 9px;"><i nz-icon nzType="logout" nzTheme="outline"></i>login out</button> 
              </div>     
            </div>
          </nz-header>
          <nz-content>
            <div class="inner-content">
              <router-outlet></router-outlet>
            </div>
          </nz-content>
        </nz-layout>
      </nz-layout>
      