.login-form {
    max-width: 300px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: url(http://img4.imgtn.bdimg.com/it/u=2597722055,3918847689&fm=26&gp=0.jpg)
  }