.login-form {
    max-width: 300px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background: url(../../assets/image/hsrmbg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }

  .title {
    height: 50px;
    margin-bottom: 40px;
  }
  .title span {
    font-size: 24px;
    color: #40a9ff;
  }
  