<div class="body">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <div class="content">
      <div class="row">
          <div class="col">
            <div class="col-title">
              <div class="title-name">新增线路</div>
              <div class="title-operating">
                  <div>
                      <button nz-button class="headButton" (click)="editLine()">保存</button>
                  </div>
                  <div>
                      <button nz-button class="headButton" style="margin-left: 20px;" (click)="back()">返回</button>
                  </div>
              </div>
            </div>
            <div class="col-body">
                <div nz-row>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="2">编号</nz-form-label>
                        <nz-form-control [nzSpan]="6">
                            <input nz-input placeholder="客户名称" formControlName="lineNum" style="width: 195px;"/>
                        </nz-form-control>
                        <nz-form-label [nzSpan]="2">出发时间</nz-form-label>
                        <nz-form-control [nzSpan]="6">
                            <nz-date-picker
                            nzShowTime
                            nzFormat="yyyy-MM-dd HH:mm:ss"
                            nzPlaceHolder="Select Time"
                            formControlName="startTime"
                            (ngModelChange)="onChange($event)"
                            (nzOnOk)="onOk($event)"
                          ></nz-date-picker>
                        </nz-form-control>
                        <nz-form-label [nzSpan]="2">到达时间</nz-form-label>
                        <nz-form-control [nzSpan]="6">
                            <nz-date-picker
                            nzShowTime
                            nzFormat="yyyy-MM-dd HH:mm:ss"
                            nzPlaceHolder="Select Time"
                            formControlName="endTime"
                            (ngModelChange)="onChange($event)"
                            (nzOnOk)="onOk($event)"
                          ></nz-date-picker>
                        </nz-form-control>
                      </nz-form-item >
              </div>
              <div nz-row>
                  <nz-form-item>
                      <nz-form-label [nzSpan]="2">起点</nz-form-label>
                      <nz-form-control [nzSpan]="6">
                          <input nz-input placeholder="起点" formControlName="startStation" style="width: 195px;"/>
                      </nz-form-control>
                      <nz-form-label [nzSpan]="2">终点</nz-form-label>
                      <nz-form-control [nzSpan]="6">
                          <input nz-input placeholder="终点" formControlName="endStation" style="width: 195px;"/>
                      </nz-form-control>
                      <nz-form-label [nzSpan]="2">票价</nz-form-label>
                      <nz-form-control [nzSpan]="6">
                          <input nz-input placeholder="票价" formControlName="price" style="width: 195px;"/>
                      </nz-form-control>
                    </nz-form-item >
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label [nzSpan]="2">里程</nz-form-label>
                    <nz-form-control [nzSpan]="6">
                        <input nz-input placeholder="里程" formControlName="km" style="width: 195px;"/>
                    </nz-form-control>
                    <nz-form-label [nzSpan]="2">最高时速</nz-form-label>
                    <nz-form-control [nzSpan]="6">
                        <input nz-input placeholder="最高时速" formControlName="maxSpeed" style="width: 195px;"/>
                    </nz-form-control>
                    <nz-form-label [nzSpan]="2">途径站点</nz-form-label>
                    <nz-form-control [nzSpan]="6">
                        <input nz-input placeholder="途径站点" formControlName="passStation" style="width: 195px;"/>
                    </nz-form-control>
                  </nz-form-item >
          </div>
          <div nz-row>
              <nz-form-item>
                  <nz-form-label [nzSpan]="2">备注</nz-form-label>
                      <nz-form-control nzSpan="19">
                          <nz-mention [nzSuggestions]="">
                              <textarea nz-input [nzAutosize]="{ minRows: 4, maxRows: 4 }" formControlName="remark" nzMentionTrigger>
                              </textarea>
                            </nz-mention>
                      </nz-form-control>
              </nz-form-item >
          </div>
            </div>
          </div>
        </div>
    </div>
    </form>
  </div>