.body > .row {
    /* margin: 20px; */
    display: flex;
    justify-content: space-between;
}

.body > .row > div {
    height: 155px;
    width: 25%;
    margin: 0 10px;
}

.body .content {
    margin: 20px;
}

.body .content .row {
    display: flex;
    justify-content: space-between;
}

.content .row > div:first-child {
    width: 100%;
    margin: 0 10px 20px;
    /* height: 8rem; */
    background: rgba(255, 255, 255, 1);
    /* box-shadow: 0px 0px 25px 0px rgba(17, 47, 51, 0.2); */
    opacity: 0.9;
}

.content .row > div:nth-child(2) {
    width: 40%;
    margin: 0 10px 20px;
    height: 400px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 25px 0px rgba(17, 47, 51, 0.2);
    opacity: 0.9;
}

.content .row .col .col-title {
    display: flex;
    align-items: center;
    color: rgba(40,45,54,1);
    padding: 10px 30px;
    border-bottom: 2px solid #f8f8f8;
}

.content .row .col .title-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 100px;
    border-left: 5px solid #30CCC1;
    border-right: 5px solid #30CCC1;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
}

.content .row .col .title-operating {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
}

.content .row .col .col-body {
    /* width: 100%; */
    /* height: 100%; */
    margin: 10px;
}

.content .row .col .col-footer {
    margin: 0 10px 10px 10px;
}

.content .row .col .col-body table {
    width: 100%;
    text-align: left;
    border-radius: 4px 4px 0 0;
    border-collapse: collapse;
}

.content .row .col .col-body table td {
    height: 50px;
}

table thead {
    background: rgba(233, 234, 240, 1);
    border-radius: 4px 4px 4px 4px;
}

.headButton {
    width:1.2rem;
    height:32px;
    background:rgba(48,204,193,1);
    border-color: #30CCC1;
    border-radius:6px;
    color: white;
}

/*
checkbox勾选框背景颜色
*/
::ng-deep .ant-checkbox-checked .ant-checkbox-inner {
    background: #66CB39;
    border-color: #66CB39;
}

::ng-deep .ant-checkbox-indeterminate .ant-checkbox-inner::after {
    background-color: #66CB39;
}

::ng-deep .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner {
    border-color: #66CB39;
}
