      
<div class="deal-order">
    <div class="body">
        <div class="content">
          <div class="row">
              <div class="col">
                <div class="col-title">
                  <div class="title-name">用户操作日志</div>
                  <div class="title-operating">
                    <div>
                        <button nz-button class="headButton" (click)="deleteOperator()">删除</button>
                    </div>
                  </div>
                </div>
                <div class="col-body">
                  <nz-table id="nzTable" #basicTable [nzData]="listOfData" [nzShowPagination]="true">
                    <thead>
                      <tr class="tableHead">
                        <!-- <th nzWidth="0.5rem"><i class="circle grey"></i></th> -->
                        <th nzWidth="1rem" nzAlign="left" *ngFor="let item of renderHeader">
                          
                            {{item.name}}
                         
                        </th>
                        <th
                        nzWidth="62px"
                        nzShowCheckbox
                        *ngIf="checkbox"
                        [(nzChecked)]="allChecked"
                        [nzIndeterminate]="indeterminate"
                        (nzCheckedChange)="checkAll($event)"
                      ></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of basicTable.data; let i = index;">
                          <td>{{ data.operator_id }}</td>
                          <td>{{ data.operator_name }}</td>
                          <td>{{ data.operator_data }}</td>
                          <td>{{ data.operator_type }}</td>
                          <td>{{ data.operator_module }}</td>
                          <td>{{ data.operator_time }}</td>
                        <td nzShowCheckbox *ngIf="checkbox" [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()"></td>
                        </tr>
                    </tbody>
                  </nz-table>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>