<div>
        <div class="pageHeader">
        </div>
        <nz-table #basicTable nzBordered [nzData]="listOfData">
          <thead>
            <tr>
              <th *ngFor="let item of renderHeader; let i = index">
                {{item.name}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ data.operator_name }}</td>
              <td>{{ data.operator_data }}</td>
              <td>{{ data.operator_type }}</td>
              <td>{{ data.operator_time }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>